.container {
  margin: 20px auto;
  width: 1200px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.racer_table td {
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: gray;
  border-width: 2px;
  background-color: white;
  height: 35px;
  width: 50px;
  font-size: 12px;
}

.racer_table #player1_strip  td.active {
  background-image: url('/pink-car.png');
  background-repeat: no-repeat;
  background-position: center;
}

.racer_table #player2_strip  td.active {
  background-image: url('/blue-car.png');
  background-repeat: no-repeat;
  background-position: center;
}

#win {
  font-family: sans-serif;
  font-size: 32px;
  color: Red;
  height: 50px;
}
